body {
  color: #fff;
  background-color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.fondo {
  width: 100%;
  background-image: url('../src/images/rick_y_morty_2/fondo/Frame_432.png'), url('../src/images/rick_y_morty_2/fondo/Rick_y_Morty-Desktop_version-1.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-blend-mode: multiply;
  background-position: left top, right bottom;
}
.datos{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-main {
  position: relative;
}

.b-title{
  width: 230px;
}
.title{
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  border-radius: 15px;
  border:5px solid #893446;
  max-width: 100%;
  height: auto;
  color: hsl(347, 45%, 37%);
  background-color: #f4f48a;
  padding: 5px;
}

.input{
  margin: 30px;
}



.head {
  height: 130px;
  background-image: url('../src/images/rick_y_morty_2/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.botones{

  display: flex;
  justify-content: baseline;
}

button {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  border-radius: 15px;
  border:5px solid #893446;
  max-width: 100%;
  height: auto;
  color: hsl(347, 45%, 37%);
  background-color: #f4f48a;
  padding: 5px;
  margin: 50px;
}

.card {
  margin-top: 250px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-text {
  padding: 5px;
  margin: 5px;
  background-color: #893446;
  border-radius: 25px;
  justify-content: center;
}

.card-image{
  width: 200px;
  height: 200px;
  background-color: #893446;
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  transform: translate(0%, -110%);
}


.card-image img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

.card-title {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  height: 100px;
  background-color: #f4f48a;
  color: #893446;
  border-radius: 25px 25px 25px 25px;
  font-size: 12px;
}

.card-date-1 {
  background-color: #C9BEDC;
  border-radius: 25px 25px 250px 25px;
}

.card-date {
  text-align: left;
  font-size: 20px;
  background-color: #856888;
  border-radius: 25px 25px 25px 25px;
  justify-content: center;
}

.card-info {
  display: flex;
}

.card-1 {
  padding: 30px;
}

.card-2 {
  padding: 30px;
}